streamlit
nltk
pandas
textblob
matplotlib
wordcloud
aiohttp
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
aiohttp_socks
schedule
geopy
fake-useragent
py-googletransx
git+https://github.com/twintproject/twint.git@origin/master#egg=twint
nest_asyncio
